# 이페이지는 seaborn tutorial 필사했음을 전달합니다!

- 데이터 시각화 라이브러로서 seaborn은 데이터를 제공해야 합니다. 이장에서는 해당 작업을 수행하는 다양한 방법에 대해 설명합니다.
- seaborn은 여러가지 데이터 세트 형식을 지원하며 대부분의 함수는 목록 및 사전과 같은 내장 Python 유형뿐만 아니라 판다스또는 넘파이 라이브러리
- 객체로 표현된 데이터를 허용합니다. 이러한 다양한 옵션과 관련된 사용 패턴을 이해하면서 거의 모든 데이터 세트 대한 유용한 시각화를 빠르게 맞드는 데 도움이 됩니다.

# Long-form vs. wide-form data

- seaborn의 대부분의 플로팅 기능은 데이터 벡터를 지향합니다.
- x에 대해 플로팅할 때 y각 변수는 백터여야 합니다.
- seaborn은 일부 표 형식으로 구성된 둘 이상의 백터가 있는 데이터 시트를 허용합니다.
- "긴 형식"과"넓은 형식" 데이터 테이블 사이에는 근본적인 차이가 있으며 seaborn은 각각을 다르게 취급합니다.

# Long-form data
-  긴 형식의 데이터 테이블에는 다음과 같은 특징이 있습니다.

- 각 변수는 열입니다.
- 각 관찰은 행입니다.

In [2]:
import seaborn as sns

In [5]:
flights = sns.load_dataset("flights")
flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

- 긴 형식의 데이터를 사용하면 테이블의 열의 변수 중 하나에 명시적으로 할당하여 플롯에서 역할이 부여됩니다.
- 예를들어, 연간 승객수 월별 도표를 작성하면 다음과 같습니다

In [ ]:
sns.relplot(data=flights,x=)